// colors 

$firebrick: #b3001bff;
$eerie-black: #262626ff;
$cultured: #faf9f9ff;
$apple-green: #8fb339ff;
$goldenrod: #e6af2eff;

$custom-gradient-top: linear-gradient(0deg, #b3001bff, #262626ff, #faf9f9ff, #8fb339ff, #e6af2eff);
$custom-gradient-right: linear-gradient(90deg, #b3001bff, #262626ff, #faf9f9ff, #8fb339ff, #e6af2eff);
$custom-gradient-bottom: linear-gradient(180deg, #b3001bff, #262626ff, #faf9f9ff, #8fb339ff, #e6af2eff);
$custom-gradient-left: linear-gradient(270deg, #b3001bff, #262626ff, #faf9f9ff, #8fb339ff, #e6af2eff);
$custom-gradient-top-right: linear-gradient(45deg, #b3001bff, #262626ff, #faf9f9ff, #8fb339ff, #e6af2eff);
$custom-gradient-bottom-right: linear-gradient(135deg, #b3001bff, #262626ff, #faf9f9ff, #8fb339ff, #e6af2eff);
$custom-gradient-top-left: linear-gradient(225deg, #b3001bff, #262626ff, #faf9f9ff, #8fb339ff, #e6af2eff);
$custom-gradient-bottom-left: linear-gradient(315deg, #b3001bff, #262626ff, #faf9f9ff, #8fb339ff, #e6af2eff);
$custom-gradient-radial: radial-gradient(#b3001bff, #262626ff, #faf9f9ff, #8fb339ff, #e6af2eff);